<%- layout('layouts/main.ejs') %>
<link href="/css/slider.css" rel="stylesheet" type="text/css">

<div class="body">
    
    <div class="slider">
        <div class="contenido uno">

        </div>

        <div class="contenido dos">

        </div>

        <div class="contenido tres">

        </div>
    </div>

</div>