footer{
    height: 130px;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 130px;
}

.lista{
    position: relative;
    display: flex;
    margin-top: 50px;
    z-index: -1;
}

.lista-li{
    position: relative;
    list-style: none;
    width: 40px;
    height: 40px;
    margin: 0px 5vw;
    transform: rotate(-30deg) skew(20deg);
    background: #ccc;
}

.lista-li span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    transition: 0.5s;
    display: flex !important;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 25px !important;
}

.lista-li:hover span:nth-child(5){
    transform: translate(12px,-12px);
    opacity: 1;
}

.lista-li:hover span:nth-child(4){
    transform: translate(9px,-9px);
    opacity: 0.8;
}

.lista-li:hover span:nth-child(3){
    transform: translate(6px,-6px);
    opacity: 0.6;
}

.lista-li:hover span:nth-child(2){
    transform: translate(3px,-3px);
    opacity: 0.4;
}

.lista-li:hover span:nth-child(1){
    transform: translate(0px,-0px);
    opacity: 0.3;
}

.lista-li:nth-child(1) span{
    background: #3b5999;
}

.lista-li:nth-child(2) span{
    background: #25D366;
}

.lista-li:nth-child(3) span{
    background: #dd4b39;
}

#txt-footer{
    z-index: -1;
    padding: 20px;
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

#txt-der{
    padding: 0px 20px 20px 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 10px;
    letter-spacing: 3px;
}
