*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

.clearfix{
    clear: both;
    float: none;
}

.container{
    width: 85%;
    margin: 0px auto;   /*Centrar bloque*/ 
}

html{
    scroll-behavior: smooth;
}

body{
    background: white;
}