<link href="/css/footer.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<footer>
    <div class="container">
        <p id="txt-footer">Síguenos en nuestras redes sociales</p>
        <div class="footer">
            <ul class="lista">
                <li class="lista-li">
                    <a href="https://www.facebook.com/NIJI-Sublimaci%C3%B3n-103134381306025/">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span class="fa fa-facebook-f"></span>
                    </a>
                </li>
                <li class="lista-li">
                    <a href="#">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span class="fa fa-whatsapp"></span>
                    </a>
                </li>
                <li class="lista-li">
                    <a href="#">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span class="fa fa-google"></span>
                    </a>
                </li>
            </ul>
        </div>
        <p id="txt-der">NIJI SUBLIMACIÓN &copy;2020 Todos los derechos reservados</p>
    </div>
    <!--Fin coniatner footer-->
</footer>