<link href="/css/menu.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">

<div class="container">
    <nav class="menu">

            <a href="#" class="title no-seleccionable">niji sublimaci&oacuten</a>

            <div class="menu_right no-seleccionable">
                <a href="#"><span id="color_green"></span>Personaliza tu taza</a>
                <a href="#"><span id="color_blue"></span>Productos</a>
                <div class="carrito_div">
                    <a href="#" class="fa fa-shopping-cart carrito"></a>
                    <span class="badge" id="noti">0</span>
                </div>
                
                
                <script>
                    notification();
                </script>
            </div>
    </nav>
</div>


